@model Absa.UI.ViewModels.PhonebookListViewModel
@{
    ViewData["Title"] = "Phonebooks";
}

<div class="row">
    <div class="col-sm-6 col-xs-12 center-align">
        <h1>Phonebooks</h1>
        <div class="row">
            <div class="col-sm-12">
                <a href="/Phonebook/Create" class="btn btn-primary margin-bottom">Create Phonebook</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group margin-bottom">
                    <input id="searchText" type="text" class="form-control" placeholder="Search for contact" aria-label="Search for contact" aria-describedby="searchButton">
                    <div class="input-group-append">
                        <a id="searchButton" class="btn btn-outline-secondary">Search</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    @foreach (var phonebook in Model.Phonebooks.OrderBy(x => x.Name))
                    {
                        <div class="list-group-item list-group-item-action">
                            <a href="/Contact?pid=@phonebook.PhonebookId">@phonebook.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>$("#searchButton").on("click", function () {
            var searchText = $("#searchText").val();

            location.href = "/Search?searchText=" + searchText;
        });</script>
}